@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sono:wght@200..800&display=swap');

:root {
    --primary: #9C8867;
    --dark: #262626;
    --grey: #E8E8E8;
    --green: #257F00;
}

* {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
    height: 100vh;
    font-size: 18px;
}

body {
    height: 100vh;
    display: grid;
    grid-template: 10vh 85vh 5vh / 1fr;
}

header {
    background-color: var(--primary);

    display: flex;
    gap: 20px;
    align-items: center;

    padding-left: 20px;

    a {
        height: 40%;

        img {
            height: 100%;
        }
    }

    img {
        height: 40%;
    }

    .nav-btn {
        cursor: pointer;
    }
}

.nav-main-container {
    display: grid;
    grid-template: min-content 1fr / 1fr;

    nav {
        background-color: var(--dark);
        overflow: hidden;
        overflow-y: auto;

        list-style-position: inside;

        * {
            color: white;
            text-decoration: none;
        }

        a[href="#"] {
            background-color: #9c88676e !important;
        }

        a:hover {
            background-color: #9c886743;
        }

        ul {
            list-style-type: none;
            font-size: 1rem;

        }

        a {
            display: flex;
            gap: 30px;
            align-items: flex-end;
            padding: 20px;
        }

        >ul>li {
            border-bottom: 1px solid rgba(255, 255, 255, 0.032);

            &:last-child {

                >a {
                    padding-bottom: 5px;
                }

                > :hover {
                    background-color: transparent;
                }
            }

            >ul{
                > li > a {
                    padding: 5px 20px;
                }
                >:last-child{
                    padding-bottom: 10px;
                }
            }
        }
    }
}

.unnav {
    grid-template: 1fr / 1fr !important;

    nav {
        display: none !important;
    }
}

.main-container {
    overflow: hidden;
    overflow-y: auto;
}

main {
    padding: 20px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.title-btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    * {
        text-transform: uppercase;
    }

    .new-btn {
        background-color: var(--green);
        padding: 10px 20px;
        font-size: 1rem;
    }
}

.section-title {
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bolder;
}

button {
    cursor: pointer;
    color: white;
    border: 0;
    font-weight: bolder;
}

footer {
    background-color: var(--dark);
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 769px) and (max-width: 1212px) {
    .nav-main-container {
        grid-template: 1fr / min-content 1fr !important;

        nav {
            display: initial !important;

            span,
            ul>li>ul {
                display: none;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .nav-main-container {
        display: grid;
        grid-template: 1fr / max-content 1fr !important;
    }

    .unnav {
        nav {
            display: initial !important;

            span {
                display: none;
            }
        }
    }
}